h1,p,a{
  display:inline-block;
  margin-top: 5%;
  margin-left:3%;
}
body{
  background-color: #99ccff;
}
table
{ border-collapse: collapse; }
tr
 { border: none; }
td {
  /* border-right: solid 1px #f00; */
   border-left: solid 1px black;

}
.a{
  margin-bottom:20%;
}

td{
  padding: 50px;
  padding-right:200px;
}

.b{
  text-align:center;
}
.c{
  color: black;
  padding-left:50px;

}
.login{
  margin-bottom: 5%;
}

.wrapper {
   position: relative;
   width: 250px;
   height: 300px;
   border: 1px dashed #ccc;
   margin: 10px;
}

.line {
   position: absolute;
   left: 49%;
   top: 0;
   bottom: 0;
   width: 1px;
   background: #ccc;
   z-index: 1;
}

.wordwrapper {
   text-align: center;
   height: 12px;
   position: absolute;
   left: 0;
   right: 0;
   top: 50%;
   margin-top: -12px;
   z-index: 2;
}

.word {
   color: #ccc;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 3px;
   font: bold 12px arial,sans-serif;
    background: #fff;
}
